// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Include functions first
@import "bootstrap/scss/functions";

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: #7952b3;

// Required
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
// @import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

//
// Import Bootstrap Icons w/ custom path to fonts folder
//
$bootstrap-icons-font-dir: "../node_modules/bootstrap-icons/font/fonts";
@import "bootstrap-icons/font/bootstrap-icons";

//
// Custom styles
//

@import "icon-list";
@import url("../js/countdown/jquery.countdown.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css");

body {
  // padding: 1.5rem;
}


/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700|Sacramento');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

html,
body {
  width: 100%;
  height: 100%;
  color: #3e396b;
}
body {
  font-family: 'Roboto Flex';
  font-size: 15px;
}
.logo {
  font-family: "Inter";
}
.tagline {
  font-family: 'Poppins';
}

button,
input,
optgroup,
select,
textarea {
  font-family: 'Roboto Flex';
}
.launch-text {
  font-family: 'Sacramento';
  font-size: 40px;
  margin-top: 25px;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
.brand-logo {
  width: 180px;
}
.hero {
  height: 100vh;
  min-height: 600px;
}
.hero h1 {
  font-weight: 100;
  font-size: 4rem;
  margin-bottom: 30px;
}
h1,
.h1 {
  font-size: 2rem;
}
h2,
.h2 {
  font-size: 1.75rem;
}
h3,
.h3 {
  font-size: 1.5rem;
}
h4,
.h4 {
  font-size: 1.25rem;
}
h5,
.h5 {
  font-size: 1rem;
}
.hero h1 span {
  font-weight: 400;
  font-family: "Playwrite DE Grund";
}
a {
  color: #ffb32e;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
a:hover,
a:focus {
  color: #7200ca !important;
  outline: 0;
  text-decoration: none !important;
}
a.btn:hover,
a.btn:focus {
  color: #fff !important;
}
section {
  padding: 60px 0px;
}
.card-outline-primary {
  border-color: #ffb32e;
}
.col-fixed {
  padding: 20px 0px;
}
@media (min-width: 768px) {
  .col-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 100px 20px 20px 20px;
  }
}
.form-control {
  height: 45px;
}
.form-control:hover,
.form-control:focus {
  border-color: #ffb32e;
}
.img-team {
  width: 80px;
}
/*===============================================
* Background Colors
================================================*/
.bg-alt {
  background-color: #fff;
}
.bg-faded {
  background-color: #f2f2f2;
}
.bg-blue {
  background-color: #032eff !important;
}
.bg-primary {
  background-color: #ffb32e !important;
}
.bg-purple {
  background-color: #3d5afe;
}
.bg-orange {
  background-color: #ffea00;
}
.bg-yellow {
  background-color: #feac00;
}
.bg-pink {
  background-color: #ff0080;
}
.bg-green {
  background-color: #ffb32e;
}
.bg-red {
  background-color: #ff3b30;
}
.bg-violet {
  background-color: #7b1fa2;
}
.bg-teal {
  background-color: #00796b;
}
.bg-slate {
  background-color: #455a64;
}
.bg-indigo {
  background-color: #303f9f;
}
/*===============================================
* Text Colors
================================================*/
.text-faded {
  color: #d9edf7;
}
.text-dark {
  color: #37474f;
}
.text-muted {
  color: #999 !important;
}
.text-light {
  color: #fff;
}
.text-light:hover,
.text-light:focus {
  color: #eee;
  text-decoration: none;
}
.text-primary {
  color: #ffb32e !important;
}
.text-purple {
  color: #3d5afe !important;
}
.text-orange {
  color: #ffea00 !important;
}
.text-yellow {
  color: #feac00 !important;
}
.text-pink {
  color: #ff0080 !important;
}
.text-green {
  color: #ffb32e !important;
}
.text-red {
  color: #ff3b30 !important;
}
.text-violet {
  color: #7b1fa2 !important;
}
.text-teal {
  color: #00796b !important;
}
.text-slate {
  color: #455a64 !important;
}
.text-indigo {
  color: #303f9f !important;
}
/*===============================================
* Icon Sizes
================================================*/
.icon-lg {
  font-size: 60px;
  line-height: 18px;
}
.icon-md {
  font-size: 45px;
  line-height: 14px;
}
.icon-sm {
  font-size: 30px;
  line-height: 14px;
}
/*===============================================
* Colored Buttons
================================================*/
.btn-outline-white {
  color: #fff !important;
  background-image: none;
  background-color: transparent;
  border-color: #fff;
}
.btn-outline-white:hover {
  background: rgba(255, 255, 255, 0.2) !important;
}
.btn-white {
  color: #ffb32e;
  background-color: #fff;
  border-color: #fff;
}
.btn-white:hover {
  background: transparent !important;
  color: #fff !important;
}
.btn-radius {
  border-radius: 50px;
}
.border-none {
  border: none !important;
  border-color: transparent !important;
}

/*social icons*/
.text-twitter-alt,
.text-facebook-alt,
.text-linkedin-alt,
.text-google-alt,
.text-github-alt {
  color: #ffb32e;
}
.text-twitter,
.text-twitter-alt:hover {
  color: #00aced;
}
.text-facebook,
.text-facebook-alt:hover {
  color: #3b5998;
}
.text-google,
.text-google-alt:hover {
  color: #dd4b39;
}
.text-linkedin,
.text-linkedin-alt:hover {
  color: #007bb6;
}
.text-github,
.text-github-alt:hover {
  color: #000000;
}






